#color tr th{
    background-color: rgb(223, 1, 1);
    border-color: rgb(223, 1, 1);
}

#head{
    background-color: rgb(223, 1, 1);
    color: white;
}

#botonGenerarPedido{
    background-color: rgb(240,173,78);
    color: white;
}

#borde{
    border-collapse: initial;
}

#exampleModalLabel{
    color: rgb(223, 1, 1);
}

#PieDePagina button{
    color: white;
}

#result > p{
    margin: 0;
    padding: 0;
}

#result > p:hover{
    background-color: #5897FB;
    color: white;
}